* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: sans-serif;
  background-color: #000;
  color: #fff;
}
p {
  font-size: 3rem;
}
.js {
  color: yellow;
}
.typed-text {
  color: blue;
}
.cursor {
  background-color: blue;
}
