* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  background: #001e4d;
}
.app {
  background: white;
  width: 90%;
  max-width: 600px;
  margin: 100px auto 0px;
  border-radius: 10px;
  padding: 30px;
}
.app h1 {
  font-weight: 600;
  font-size: 25px;
  color: #001e4d;
  border-bottom: 1px solid #333;
  padding-bottom: 30px;
  margin-bottom: 20px;
}
#que {
  padding: 20px 0;
}
#que h2 {
  font-size: 18px;
  color: #001e4d;
  font-weight: 600;
}
.btn {
  background: #fff;
  color: #222;
  font-weight: 500;
  width: 100%;
  border: 1px solid #222;
  padding: 10px;
  margin: 10px 0;
  text-align: left;
  border-radius: 4px;
}
.btn:hover {
  background: #222;
  color: white;
  transition: 0.3s;
}

#nextbtn {
  align-items: center;
  justify-content: center;
  font-size: 20px;
  margin: 10px auto;
  padding: 10px 30px;
  display: flex;
  background: #001e4d;
  color: #fff;
  border-radius: 4px;
}
